!!!
%html
	%head
		%title pandemic client
		%link{rel: 'stylesheet', href: 'style.css'}
		%script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'}
		%script{src: 'main.js'}
	
	%body
		.container
			.header
				%h1.logo pandemic
			.viewport